<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">&#9879;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for period in periods %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/period-{{period['number']}}" id="navbarDropdown" role="button" data-toggle="dropdown">
                Period {{period['nnumber']}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/period-{{period['number']}}">Overview</a>
                    <div class="dropdown-divider"></div>
                    {% for unit in period['units'] %}
                        <a class="dropdown-item" href="/period-{{period['number']}}/{{unit}}">{{unit}}</a>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>

        <ul class="my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>